
#conteiner{
   height: 100vh;
   background: var(--colorOne);
   display: flex;
   justify-content: center;
   align-items: center; 
}

#conteiner form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

h1{
    color: var(--colorTwo);
    font-weight: var(--bold-weight);
    font-size: 3.5rem;
    text-align: center;
    width: 100%;
    letter-spacing: 4px;
}


form > input{
    width: 100%;
    border:none;
    border-radius: 10px;
    padding: 10px;
    background:var(--main-background-color-conteiner);
    color: var(--colorThree);
    font-size: 1rem;
    outline: none;
    border: solid var(--colorFive) 1px;
}

form > label{
    color: var(--colorTwo);
    margin: 10px 0 10px 0;
    width: 100%;
    font-size: 1.5rem;
    color: var(--main-background-color-conteiner);
}

form button{
    width: 50%;
    padding: 16px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    display: block;
    outline: none;
    text-transform: uppercase;
    font-weight: var(--bold-weight);
    letter-spacing: 4px;
    color:var(--colorThree);
    background: var(--colorTwo);
    cursor: pointer;
}

#erros{
    margin-top: 1rem;
    color: rgb(255, 0, 0);
    font-weight: var(--bold-weight);
}

form select{
    width: 100%;
    border:none;
    border-radius: 5px;
    padding: 5px;
    background:var(--main-background-color-conteiner);
    color: var(--colorThree);
    font-size: 1rem;
    outline: none;
    border: solid var(--colorSix) 1px;
}

/* Mobile */
@media only screen and (max-width: 600px){
    #conteiner form{
        width: 90%;
    }

    form h1{
       font-size: 2.5rem;
    }


    form > label{
       font-size: 1rem;
    }

    form button{
        width: 100%;
    }
}