@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/*Variaveis padroes*/

:root{

    --main-radius:10px;
    --main-padding:5px;

    /* Paleta de cores */
    --colorOne:rgb(0, 128, 128);
    --colorTwo:#00ff88;
    --colorThree:#000000;
    --colorFour:#77ffc0;
    --colorFive:rgba(172, 171, 171, 0.76);

    /* Background colors*/
    --main-background-color:#e3e9f7; 
    --main-background-color-conteiner:#ffffff;
    --main-background-dark:#201b2c;


     /* fonts */
    --main-font:'Ubuntu', sans-serif;
    --thin-weight:300;
    --regular-weight:400;
    --medium-weight:500;
    --bold-weight:700;
    
    /* fonts size */

    /*Espesura das bordas*/
    --main-border: .5rem;

    /* margem bordas */
    --margem-bordas:5rem;
  }

/*Font-Size */

h1{
  font-size: 1.5rem;
  text-align: center;
  font-weight: var(--thin-weight);
}

/*Resetando style*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
    font-weight: var(--regular-weight);
}
/* Botoes */

.btn-padrao{
  background: var(--colorOne);
  color:var(--colorTwo);
  font-weight: var(--bold-weight);
  padding: 8px 18px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-danger{
  background: red;
  color:var(--colorThree);
  font-weight: var(--bold-weight);
  padding: 8px 18px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

/* Formularios */

.form-padrao input{
  width: 100%;
  border:none;
  border-radius: 10px;
  padding: 15px;
  color: var(--colorThree);
  font-size: 1rem;
  outline: none;
  border: solid var(--colorFive) 1px;
  font-weight: var(--thin-weight);
}

.form-padrao label{
  color: var(--colorThree);
  font-weight: var(--thin-weight);
  font-size: 1rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: .5rem;
}

/* Conteiners */

.conteiner-padrao{
    background-color: var(--main-background-color-conteiner);
    padding: 1rem;
    border-radius: 10px;
    flex: 4;
    border: solid var(--colorFive) 2px;
}

.conteiner-two{
  background: var(--main-background-color);
  border: solid var(--colorFive) 5px;
  border-radius: 1rem;
}

.sobre-livros:hover {
  border-radius: 15px;
  transform: scale(1.1);
  box-shadow: rgb(0, 0, 0) 5px 10px 40px;
}

/*---      Modal       ---------*/

/* Animacao modal */
.bounce-enter-active {
  animation: bounce-in 0.4s;
}
.bounce-leave-active {
  animation: bounce-in 0.4s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.10);
  }
  100% {
    transform: scale(1);
  }
 
}

/*Scroll*/

/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--colorFive);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colorOne);
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


 