asgiref==3.6.0
Django==4.1.7
django-cors-headers==3.14.0
django-filter==23.1
django-seed==0.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
Faker==18.9.0
Pillow==9.5.0
psycopg2-binary==2.9.6
PyJWT==2.6.0
python-dateutil==2.8.2
pytz==2023.2
six==1.16.0
sqlparse==0.4.3
toposort==1.10
uWSGI==2.0.21
whitenoise==6.4.0
